.wrapper {
	background: linear-gradient(rgb(77, 74, 78), rgb(194, 68, 36));
	box-shadow: 4px 5px 6px rgba(0, 0, 0, 0.7),
		inset -2px -2px 5px 0px rgba(0, 0, 0, 0.2),
		inset 3px 1px 1px 4px rgba(255, 255, 255, 0.2),
		1px 0px 1px 0px rgba(0, 0, 0, 0.9), 0 2px 1px 0 rgba(0, 0, 0, 0.9),
		1px 1px 1px 0px rgba(0, 0, 0, 0.9);

	width: 120px;
	height: 180px;
	display: block;
	user-select: none;
	cursor: move;
	z-index: 9;

	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.pedalLabel,
.div_buttons {
	border-radius: 8px;
}

.div_menuPanel {
	/* border-top-left-radius: 8px;
		  border-top-right-radius: 8px; */
}

webaudio-switch {
	left: -6px;
}

.pedalLabel {
	/* background: rgba(0, 0, 0, 0.4); */
	box-shadow: inset 0px 1px 5px #111;
	border: 1px solid #ccc;
	color: #ccc;
	padding: 4px 10px;

	font-size: 10px;
	text-align: center;
	user-select: none;
	font-family: helvetica;
	text-transform: uppercase;
}

.knob-label {
	color: #ddd;
	text-shadow: 0px 1px 1px #000;

	font-size: 6px;
	margin-top: -2px;

	text-align: center;
	text-transform: uppercase;
	overflow: hidden;
	user-select: none;
	font-family: helvetica;
}

.elements {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	padding: 10px;
}

.column {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	flex: 1;
	margin: 3px;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
}
