@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

* {
	box-sizing: border-box;
}

.Pedalboard {
	--color-dark: #545663;
	--color-darker: #242427;
	--color-white: #fff;

	--spacing-xs: 4px;
	--spacing-sm: 8px;
	--spacing-md: 16px;

	width: 100%;
	height: 450px;
	display: flex;
	flex-direction: column;
	padding: var(--spacing-sm);
	color: var(--color-white);
	border-radius: var(--spacing-xs);
	font-family: 'Kumbh Sans', sans-serif;
	background: var(--color-dark); 

	&_content {
		display: flex;
		width: 100%;
		height: 100%;
	}	

	&_contentScroll {
		display: flex;
		overflow-x: auto;	
		width: 100%;
		height: 100%;
	}

	&_contentButton {
		cursor: grab;
		display: inline-block;
		border: 2px solid darkgray;
		box-shadow: -1px -1px darkgray;		
		margin-right: 3px;
		padding-right: 3px;
		margin-bottom: 3px;

		input {
			display: none;
		}

		p {
			display: inline;
			color: black;
		}
	}
	
	&Header {
		margin-bottom: var(--spacing-sm);

		h1 {
			font-size: .8rem;
			margin: 0;
		}
	}

	&Board {
		width: 100%;  
		min-width: max-content;	
		height: fit-content;
		min-height: 400px;
		margin-top: auto;
		margin-bottom: auto;
		margin-right: var(--spacing-sm);
		padding: var(--spacing-sm);
		background: var(--color-darker);
		border-radius: var(--spacing-xs);				
		display: flex;
	}

	&_contentButtonWrapper {
		display: flex;
		margin-bottom: 5px;
	}

	&_SelectorWrapper {
		height: auto;	
		min-width: 200px;	
		margin-top: auto;
		margin-bottom: auto;
		margin-left: 10px;	
	}

	&Selector {
		flex-shrink: 0;
		width: 180px;
		height: 300px;
		display: block;
		padding: var(--spacing-sm);
		background: var(--color-darker);
		border-radius: var(--spacing-xs);
		overflow-y: auto;
		text-align: center;
		margin-bottom: 10px;

		&Thumbnail {
			padding-right: 10px;
			cursor: grab;	
			max-width: 80px;
			max-height: 90px;	
		}

		&Cell {
			height: fit-content;
			width: fit-content;
			display: inline-block;
		}
		
	}
}

.Button {
	background-color: transparent;
	cursor: grab;
}

