@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

* {
	box-sizing: border-box;
}

.Pedalboard {
	--color-dark: #545663;
	--color-darker: #242427;
	--color-white: #fff;

	--spacing-xs: 4px;
	--spacing-sm: 8px;
	--spacing-md: 16px;

	width: 100%;
	height: 450px;
	display: flex;
	overflow: hidden;
	flex-direction: column;
	padding: var(--spacing-sm);
	color: var(--color-white);
	border-radius: var(--spacing-xs);
	font-family: 'Kumbh Sans', sans-serif;
	background: var(--color-dark);

	&_content {
		display: flex;
		width: 100%;
		height: 100%;
	}

	&Header {
		margin-bottom: var(--spacing-sm);

		h1 {
			font-size: .8rem;
			margin: 0;
		}
	}

	&Board {
		width: 100%;
		height: fit-content;
		min-height: 300px;
		margin-top: auto;
		margin-bottom: auto;
		margin-right: var(--spacing-sm);
		padding: var(--spacing-sm);
		background: var(--color-darker);
		border-radius: var(--spacing-xs);
		overflow-x: auto;		
		display: flex;
	}

	&Selector {
		flex-shrink: 0;
		width: 200px;
		height: 350px;
		padding: var(--spacing-sm);
		background: var(--color-darker);
		border-radius: var(--spacing-xs);
		overflow-y: auto;
		text-align: center;

		&Thumbnail {
			padding-right: 10px;
			cursor: grab;		
		}	
		
	}
}

.Button {
	background-color: transparent;
	margin-right: 10px;	
	padding-right: 10px;
	cursor: grab;
}

